@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Add Fonts*/
@font-face {
    font-family: "Vazir";
    src: url("../public/fonts/Vazir-Thin-FD-WOL.woff");
    src: url("../public/fonts/Vazir-Thin-FD-WOL.woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Vazir";
    src: url("../public/fonts/Vazir-Light-FD-WOL.woff");
    src: url("../public/fonts/Vazir-Light-FD-WOL.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Vazir";
    src: url("../public/fonts/Vazir-Medium-FD-WOL.woff");
    src: url("../public/fonts/Vazir-Medium-FD-WOL.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Vazir";
    src: url("../public/fonts/Vazir-Bold-FD-WOL.woff");
    src: url("../public/fonts/Vazir-Bold-FD-WOL.woff2");
    font-weight: 700;
}

body{
    font-family: "Vazir";
}
/*End Here*/

